@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Telegram bot</h1>

<div>
    <button @onclick="DownloadFileSettings">
        Download Settings.json
    </button>
    <label>
        Upload Settings.json
        <InputFile OnChange="@UploadFileSettings" />
    </label>
</div>
<div>
    <button @onclick="DownloadFileTemplate">
        Download Template.json
    </button>
    <label>
        Upload Template.json
        <InputFile OnChange="@UploadFileTemplate" />
    </label>
</div>

@code{
    private async Task DownloadFile(string file)
    {
        if (!File.Exists(file))
            return;

        var fileStream = File.OpenRead(file);

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", file, streamRef);
    }

    private Task DownloadFileSettings()
    {
        return DownloadFile("Data/Settings.json");
    }

    private Task DownloadFileTemplate()
    {
        return DownloadFile("Data/Template.json");
    }

    private async Task UploadFile(string file, InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream();
        using var fileStream = new FileStream(file, FileMode.Create);
        await stream.CopyToAsync(fileStream);
    }

    private Task UploadFileSettings(InputFileChangeEventArgs e)
    {
        return UploadFile("Data/Settings.json", e);
    }

    private Task UploadFileTemplate(InputFileChangeEventArgs e)
    {
        return UploadFile("Data/Template.json", e);
    }
}
